<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="720.00:00:00" />
            <remove fileExtension=".xnb" />
            <mimeMap fileExtension=".xnb" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
